td {
    font-size: 20px;
    align-items: center;
    text-align: center;
    width: 70px;
    height: 70px;
    color: whitesmoke;
    border: 1px solid whitesmoke;
}

td.clicar:hover {
    font-size: 30px;
    color: #EB984E;
    cursor: pointer;
    background-color: #423F3E;
}

.acertos_erros {
    height: 35px;
    color: orange;
    border: 0px;
    text-align: right;
}