body {
    min-width: 635px;
    margin: 0px;
    vertical-align: middle;
    font-family: "Lucida Console", "Courier New", monospace;
    font-weight: bold;
    color: orange;
    background-color: black;
}

.centralizar {
    text-align: center;
    padding-top: 30px;
}

.maior {
    font-size: 100px;
    padding-bottom: 0px;
}

.menor {
    font-size: 50px;
}

.menor1 {
    font-size: 25px;
}

a {
    color: whitesmoke !important;
}

a:hover {
    color: orange !important;
}

img {
    border: 2px solid whitesmoke;
}

::-webkit-scrollbar {
    display: none;
}

.btn-outline-light {
    width: 250px;
}

.btn-outline-light:hover, .btn-outline-light:focus, .btn-outline-light:active, .btn-outline-light.active, .open>.dropdown-toggle.btn-outline-light {
    color: orange;
    background-color: transparent;
    border-color: orange; /*set the color you want here*/
    width: 250px;
}

.fracoes {
    width: 500px;
    height: 100px;
    color: whitesmoke;
    border: 1px solid whitesmoke;
    border-collapse: collapse;
}

.resultado {
    color: orange;
    width: 60px;
    font-size: 40px;
}

.partes {
    border: 1px solid whitesmoke;
    cursor: pointer;
}

.frac {
    width: 30px;
    color: whitesmoke;
    font-size: 20px;
    text-align: center;
}

.parte_pintada {
    background-color: #CA6F1E;
}

.slider::-moz-range-thumb {
    pointer-events: auto !important;
  }
  
.slider::-webkit-slider-thumb {
    pointer-events: auto !important;
  }
  
.slider::-ms-thumb {
    pointer-events: auto !important;
  }
  
.slider::-ms-track {
    pointer-events: none !important;
  }

input[type=checkbox] {
    -ms-transform: scale(1.5); /* IE */
    -moz-transform: scale(1.5); /* FF */
    -webkit-transform: scale(1.5); /* Safari and Chrome */
    -o-transform: scale(1.5); /* Opera */
    transform: scale(1.5);
}
.label_checkbox {
    padding-top: 10px!important;
    padding-left: 10px!important;
}
